<h1>Welcome <%= current_user.email %> !</h1>
<h3>To-do List</h3>

<table>
  <thead>
    <tr>
      <th> Tasks </th>
      <th> Completed! </th>
    </tr>
  </thead>
  <tbody>
    <td>Groceries</td>
  </tbody>
</table>
